@charset "utf-8";

@font-face {
    font-family: 'GMarketSans';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'GMarketSans';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'GMarketSans';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: 700;
    font-display: swap;
}
@font-face {
    font-family: 'JoyfulStory';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/OTEnjoystoriesBA.woff') format('woff');
    font-weight: normal;
    font-display: swap;
}
.moirai-one-regular {
  font-family: "Moirai One", system-ui;
  font-weight: 300;
  font-style: normal;
}

body{
    background-color: #5B2386;
    

}
img{
    box-sizing: border-box;
    display: block;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 120px;
    padding-bottom: 68px;
    position: relative;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header p{
    font-family: 'JoyfulStory', 'sans serif';
    color: #F5DF4D;
    font-size: 3.6rem;
    margin-bottom: 120px;
    margin-top: 52px;
}

.main_1{
    display: flex;
    gap: 20px;
    text-align: center;
    font-family: 'GMarketSans', 'sans serif';
    font-weight: 400;
    font-size: 1.8rem;
    color: #fff;
    align-items: center;
    margin-bottom: 120px;
}

.main_1 img{
    width: 36px;
    height: 32px;
    
}
.main_1 strong{
    font-size: 2.4rem;
    font-weight: 700;
}
.main_1 p{
    line-height: normal;
}

.main_2{
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    font-family: 'GMarketSans', 'sans serif';
    font-weight: 400;
    font-size: 1.8rem;
    color: #fff;
    align-items: center;
    margin-bottom: 120px;
    position: relative;
}

.main_2 input{
    width: 228px;
    height: 56px;
    line-height: 100%;
    background-color: #fff;
    border: none;
    border-radius: 8px;
    text-align: center;
    font-family: 'GMarketSans', 'sans serif';
    font-weight: 400;
    font-size: 24px;
    
}
.main_2 form p:nth-child(1){
    margin-bottom: 20px;
}
.main_2 p input::placeholder{
    color: #BABCBE;
}

.main_2 button{
    width: 568px;
    height: 64px;
    background-color: #FCEE21;
    color: #5B2386;
    border-radius: 12px;
    font-size: 24px;
    font-weight: 700;
    font-family: 'GMarketSans', 'sans serif';
    margin-top: 120px;
}

.main_2 img{
    position: absolute;
    top: 210px;
    right: 74px;
    width: 64px;
    height: 72px;

}
/* main_3 */

.main_3{
    font-family: 'GMarketSans', 'sans serif';
    font-size: 24px;
    color: #fff;
    text-align: center;
    
}

.main_3 strong{
    font-size: 72px;
    font-weight: 700;
}
.main_3-btn{
    margin-top: 120px;
    
}

.main_3-btn button{
    font-family: 'GMarketSans', 'sans serif';
    font-size: 24px;
    font-weight: 700;
}
.main_3-btn button:first-child{
    width: 364px;
    height: 64px;
    background-color: #FCEE21;
    color: #5B2386;
    border: none;
    border-radius: 12px;
}
.main_3-btn button:nth-child(2){
    width: 192px;
    height: 64px;
    color: #5B2386;
    border: none;
    border-radius: 12px;
    background-color: #fff;
}
.pop-up{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    width: 800px;
    height: 800px;
    padding: 82px 0;
    position: absolute;
    left: 9999px;
    
}
.pop-up_innerbox{
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #5B2386;
}
.pop-up .pop-up_innerbox p{
    font-family: 'JoyfulStory', 'sans serif';

}
.pop-up .pop-up_innerbox p:nth-child(1){
   font-size: 96px;
   margin-bottom: 4px;
}
.pop-up .pop-up_innerbox p:nth-child(2){
   font-size: 36px;
   font-weight: 400;
}
.pop-up_innerbox button{
    width: 508px;
    height: 64px;
    background-color: #FCEE21;
    color: #5B2386;
    font-family: 'GMarketSans', 'sans serif';
    font-weight: 700;
    font-size: 24px;
    border-radius: 12px;

}
.pop-up .pop-up_innerbox img{
    margin: 40px 0;
}
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #fff;
    font-size: 12px;
    margin-top: 120px;
}
footer img{
    margin-bottom: 25px;
}